.layout {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    // position: fixed;
    width: 95%;
    z-index: 100;
    box-sizing: border-box;
    margin-left: 45px;
    
  }

  .logo-small {
    width: 211px;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

    li a {
      text-decoration: none;
      color: #FF6060;
      font-weight: 500;
      font-size: 16px;
      transition: color 0.2s;
      padding-right: 40px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // main {
  //   padding-top: 80px;
  // }

  footer {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;

    .footer-logo {
      font-size: 24px;
      font-weight: bold;
      padding-top: 30px;
    }

    .copyright-container {
      display: flex;
      align-items: center;
      margin-top: 10px;
    }

    .copyright {
      margin-right: 10px;
    }
  }
}

@media (max-width: 700px) {
  

  .layout header {
    width: 95%; 
    position: static; 
    margin-left: 10px;

    .logo-small {
      width: 145px;
      padding-left: 15px;
    }
  }

  .layout nav {
    padding-right: 15px;
  }

  .layout nav ul {
    flex-direction: row; 
    text-align: center; 
  }
  
  .layout nav ul li a {
    font-size: 11px; 
    padding: 0; 
  }
  main {
    padding-top: 0px !important;
  }
}
