.collapse-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-left: 5px;
    // justify-content: center;

    .collapsed-content {
      background-color: #F6F6F6;
      padding: 10px;
      width: 90%; 
      box-sizing: border-box;
      color: #FF6060;
    }
  }

.collapse-gap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}
  
  .collapse {
    width: 90%;
    height: 40px;
    background-color: #FF6060;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    color: white;
    font-size: 16px;
  
    &.open {
      background-color: #FF6060;
    }
  
    box-sizing: border-box;
  }
  
  .collapse-arrow {
    color: white;
    transition: transform 0.3s ease-in-out;
  
    &.open {
      transform: rotate(180deg); 
    }
  }
  
  
  